<!--头部css-->
<link rel="stylesheet" href="/static/admin/plugins/bootstrap/css/bootstrap.min.css" >
<link rel="stylesheet" href="/static/admin/plugins/bootstrap-switch/css/bootstrap-switch.min.css" >
<link rel="stylesheet" href="/static/admin/plugins/font-awesome/css/font-awesome.min.css" >
<link rel="stylesheet" href="/static/admin/plugins/iconpicker/css/iconpicker.min.css" >
<link rel="stylesheet" href="/static/admin/plugins/select2/css/select2.min.css" >
<link rel="stylesheet" href="/static/admin/plugins/fileinput/css/fileinput.min.css" >
<link rel="stylesheet" href="/static/admin/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css" >

<link rel="stylesheet" href="/static/admin/css/AdminLTE.min.css">
<link rel="stylesheet" href="/static/admin/css/admin.css">
<link rel="stylesheet" href="/static/admin/css/_all-skins.min.css">
<link rel="stylesheet" href="/static/admin/css/skins.css">
<link rel="stylesheet" href="/static/admin/plugins/viewer/viewer.min.css">
<link rel="stylesheet" href="/static/admin/plugins/nprogress/nprogress.css">
<!--[if lt IE 9]>
<link rel="stylesheet" href="/static/admin/js/html5shiv.min.js">
<link rel="stylesheet" href="/static/admin/js/respond.min.js">
<![endif]-->